TECAB_PORT=8090
DJANGO_SECRET_KEY=troque-por-uma-chave-aleatoria
# DJANGO_ALLOWED_HOSTS=tecab.srv.br,www.tecab.srv.br
# DJANGO_CSRF_TRUSTED_ORIGINS=https://tecab.srv.br
# DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# DJANGO_EMAIL_HOST=smtp.exemplo.com.br
# DJANGO_EMAIL_PORT=587
# DJANGO_EMAIL_USE_TLS=1
# DJANGO_EMAIL_HOST_USER=
# DJANGO_EMAIL_HOST_PASSWORD=
# TECAB_CONTATO_DESTINATARIOS=comercial@tecab.srv.br,operacoes@tecab.srv.br
# TECAB_INTEGRIDADE_DESTINATARIOS=lgpd@tecab.srv.br
# DJANGO_HTTPS=1
