{% extends "website/accounts/base_auth.html" %}
{% load site_tags %}
{% block title %}Recuperar senha | Área do Colaborador | TECAB{% endblock %}
{% block card %}
<h2 class="auth__title">Recuperar senha</h2>
<p class="auth__intro">Informe seu usuário ou e-mail. Enviaremos um link para você criar uma nova senha.</p>
<form method="post" novalidate data-enhance>
  {% csrf_token %}
  <div class="stack-form">
    {% include "website/includes/field.html" with field=form.email %}
    <button type="submit" class="btn btn--block">Enviar link de recuperação</button>
  </div>
</form>
<div class="auth__links"><a href="{% url 'website:login' %}">{% icon 'arrow-left' %} Voltar para o login</a></div>
{% endblock %}
