<div class="um um-password um-um_password_id">
	<div class="um-form">
		<form method="post" action="{% url 'website:recuperar_senha' %}">
			{% csrf_token %}
			<input type="hidden" name="_um_password_reset" id="_um_password_reset" value="1" />
			<div class="um-field um-field-block um-field-type_block">
				<div class="um-field-block">
					<div style="text-align:center;">
						To reset your password, please enter your email address or username below.					</div>
				</div>
			</div>
			{% include "website/accounts/_um_field.html" with field=form.email form_id="0" key="username_b" id="username_b" um_class="um-field-text  um-field-username_b um-field-text um-field-type_text" type="text" placeholder="Enter your username or email" no_label=True only %}			<div class="um-col-alt um-col-alt-b">
				<div class="um-center">
					<input type="submit" value="Reset password" class="um-button" id="um-submit-btn" />
				</div>
				<div class="um-clear"></div>
			</div>
			<input type="hidden" name="form_id" id="form_id_um_password_id" value="um_password_id" />
		</form>
	</div>
</div>