{% extends "website/accounts/base_auth.html" %}
{% load site_tags %}
{% block title %}Verifique seu e-mail | Área do Colaborador | TECAB{% endblock %}
{% block card %}
<span class="icon-badge">{% icon 'mail' %}</span>
<h2 class="auth__title">Verifique seu e-mail</h2>
<p class="auth__intro">Se houver uma conta com os dados informados, você receberá em instantes um e-mail com o link para criar uma nova senha. Confira também a caixa de spam.</p>
<a class="btn btn--block" href="{% url 'website:login' %}">Voltar para o login</a>
{% endblock %}
