{% extends "website/base.html" %}
{% load static %}
{% block title %}Sistema de combate a incêndio com captação infinita de água do rio &#8211; TECAB | Terminais de Armazenagens de Cabedelo{% endblock %}
{% block body_class %}portfolio-item-template-default single single-portfolio-item postid-6473 wp-custom-logo qode-framework-1.1.6 qodef-qi--no-touch qi-addons-for-elementor-1.6.1 qodef-back-to-top--enabled  qodef-content-grid-1100 qodef-header--standard qodef-header-appearance--none qodef-mobile-header--standard qodef-drop-down-second--full-width qodef-porfolio-single-layout--slider stal-core-1.2 stal-child-child-1.0.0 stal-1.4 qodef-header-standard--right qodef-search--on-side elementor-default elementor-kit-9{% endblock %}
{% block content %}

						<div id="qodef-page-inner" class="qodef-content-grid"><main id="qodef-page-content" class="qodef-grid qodef-layout--template ">
	<div class="qodef-grid-inner clear">
		<div class="qodef-grid-item qodef-page-content-section qodef-col--12">
	<div class="qodef-portfolio qodef-m qodef-portfolio-single qodef-item-layout--slider">
		<article class="qodef-portfolio-single-item qodef-e post-6473 portfolio-item type-portfolio-item status-publish hentry portfolio-category-instalacoes-e-profissionais">
    <div class="qodef-e-inner">
	    <div class="qodef-media qodef-portfolio-single-slider qodef-swiper-container" data-options='{"slidesPerView":"1"}'>
		    <div class="swiper-wrapper">
			    		    </div>
		    <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
	    </div>
        <div class="qodef-e-content qodef-grid qodef-layout--template ">
            <div class="qodef-grid-inner clear">
	            <div class="qodef-grid-item qodef-col--6">
		            <h2 itemprop="name" class="qodef-e-title entry-title qodef-portfolio-title">
	Sistema de combate a incêndio com captação infinita de água do rio</h2>		            <div class="qodef-e qodef-portfolio-content">
	</div>	            </div>
	            <div class="qodef-grid-item qodef-col--6 qodef-portfolio-info">
		            		            <div class="qodef-e qodef-portfolio-date">
	<h6>
		Date: 	</h6>
	<p itemprop="dateCreated" class="entry-date updated">
		8 de May de 2023	</p>
	<meta itemprop="interactionCount" content="UserComments: 0"/>
</div>		            		<div class="qodef-e qodef-portofolio-categories">
			<h6>
				Category: 			</h6>
							<a itemprop="url" class="qodef-portfolio-category" href="{% url 'website:portfolio_category' 'instalacoes-e-profissionais' %}">
					Instalações e Profissionais				</a>
					</div>
		            <div class="qodef-e qodef-portfolio-social-share">
	<div class="qodef-shortcode qodef-m  qodef-social-share clear qodef-layout--list ">		<ul class="qodef-shortcode-list">			</ul></div></div>	            </div>
            </div>
        </div>
    </div>
		<div id="qodef-single-portfolio-navigation" class="qodef-m">
		<div class="qodef-m-inner">
								<a itemprop="url" class="qodef-m-nav qodef--prev" href="{% url 'website:portfolio_item' 'profissionais-qualificados-2' %}">
						<span class="qodef-icon-linea-icons icon-arrows-slim-left"></span>						<span class="qodef-m-nav-label">Previous</span>					</a>
						</div>
	</div>
	</article>	</div>
</div>	</div>
</main>
			</div><!-- close #qodef-page-inner div from header.php -->
		
{% endblock %}
